__pycache__/
.coverage
.mutlogs/
.mutmut-cache
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv-mut/
.venv/
.venv312/
*.egg-info/
*.py.bak
*.py[cod]
build/
dist/
htmlcov/
mutants/
mutation-summary.json
setup.cfg
